{% extends "profile-template.html" %}
{% block title %}API Keys{% endblock %}
{% block content %}
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-header-title">API Keys</h3>
        </div>
        <div class="card-body">
            <p>Below are the username, email and overview information for your account.</p>
            <div class="row align-items-center">
                <div class="col-md-4 text-muted mb-1 mb-md-0">
                    <i class="far fa-user-circle fa-fw"></i> Your username:
                </div>
                <div class="col-md-8">
                    <strong>GiorgioPapini</strong>
                </div>
            </div>
            <hr>
            <div class="row align-items-center">
                <div class="col-md-4 text-muted mb-1 mb-md-0">
                    <i class="far fa-envelope fa-fw"></i> Your Email Address:
                </div>
                <div class="col-md-8">
                    <div class="d-flex justify-content-between align-items-center my-n1">
                        <strong>giorgio.papini04@gmail.com</strong>
                        <a class="btn btn-sm btn-white" style="min-width: 6rem;" href="/mysettings">
                            <i class="far fa-pen me-1"></i> Edit
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row align-items-center">
                <div class="col-md-4 text-muted mb-1 mb-md-0">
                    <i class="far fa-sign-in fa-fw"></i> Last Login:
                </div>
                <div class="col-md-8">
                    <div class="d-flex justify-content-between align-items-center my-n1">
                        <span>
                            <i class="far fa-clock me-1"></i><span id="showUtcLocalDate">2023-08-14 07:08:02 (UTC)</span>
                        </span>
                        <a class="btn btn-sm btn-white" style="min-width: 6rem;" href="javascript:;" data-bs-toggle="modal" data-bs-target="#showLoginHistory">
                            <i class="far fa-eye me-1"></i> History
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}